extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 City Population by #{place}
  table
    thead
      th #{place}
      th.number Population
      th.number City Population
      th.number Non-City Population
    tbody
      each row in rows
        tr
          td #{row.Name}

          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}

          - const citypopulation = new Intl.NumberFormat().format(row.CityPopulation);
          td.fit.number #{citypopulation}

          - const noncitypopulation = new Intl.NumberFormat().format(row.Population - row.CityPopulation);
          td.fit.number #{noncitypopulation}