extends layout

block content 
    h1 Country Report
    h2 Code: #{country.code}
    h2 Name: #{country.name}
    h2 Continent: #{country.continent}
    h2 Region: #{country.region}
    h2 Population: #{country.population}
    h2 Capital: #{country.capital}    